@charset "UTF-8";
@import "./_mixins.scss";
@import "./_piaf.style.scss";
@import "./_plugins.scss";

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("/assets/fonts/NotoSansKR-Regular.woff") format("woff"),
    url("/assets/fonts/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("/assets/fonts/NotoSansKR-Bold.woff") format("woff"),
    url("/assets/fonts/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/Roboto-Regular.eot);
  src: url(/assets/fonts/Roboto-Regular.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/Roboto-Regular.woff2) format("woff2"),
    url(/assets/fonts/Roboto-Regular.woff) format("woff"),
    url(/assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/Roboto-bold.eot);
  src: url(/assets/fonts/Roboto-bold.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/Roboto-bold.woff2) format("woff2"),
    url(/assets/fonts/Roboto-bold.woff) format("woff"),
    url(/assets/fonts/Roboto-bold.ttf) format("truetype");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 900;
  src: url(/assets/fonts/Roboto-black.eot);
  src: url(/assets/fonts/Roboto-black.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/Roboto-black.woff2) format("woff2"),
    url(/assets/fonts/Roboto-black.woff) format("woff"),
    url(/assets/fonts/Roboto-black.ttf) format("truetype");
}

/** your custom css code **/

html {
  background-color: white;
}

body {
  font-family: "Noto Sans CJK KR", sans-serif;
  color: #333333;
  background-color: white;
}

.sidebar {
  height: 100vh !important;
  padding-top: 0px;
  padding-bottom: 100px;
  box-shadow: none !important;
}

.sidebar .main-menu {
  height: 100vh !important;
  background: url(/assets/img/bg.svg) !important;
}

.sidebar .sub-menu {
  height: 100vh !important;
  box-shadow: none !important;
}

.navbar {
  z-index: 3;
  background-color: #f0f0f0;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%) !important;
}

.hide-button {
  position: fixed;
  top: 83px;
  left: 255px;
}

.navbar-logo {
  width: 210px;
  height: 80px;
  margin: 0 auto;

  .logo {
    width: 100%;
    height: 100%;
    background: url("/assets/logos/medivms.png") no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .logo-mobile {
    width: 100%;
    height: 100%;
    background: url($logo-path-mobile) no-repeat;
    background-position: center center;
  }

  @include respond-below(sm) {
    width: 80px;
  }

  @include respond-below(xxs) {
    width: 20px;
  }
}

.list-unstyled li {
  cursor: pointer;
  margin: 30px 15px 30px 0;
  height: 53px;
  width: 11.5vw;
  line-height: 53px;
  background: #f7f7f7;
  border-radius: 0 20px 20px 0;
  font-family: "Noto Sans CJK KR";
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  text-align: left;
  padding-left: 20px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.list-unstyled li a {
  border-bottom: none !important;
}

.navname {
  vertical-align: 30px;
  text-align: left !important;
  padding: 0 !important;
  line-height: 53px !important;
}

.navicon {
  padding: 0px !important;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  margin: 0 10px 0 0;
  border-radius: 10px;
  vertical-align: 23px;
  text-align: left !important;
}

.navicon img {
  padding: 0 10px 4px 10px;
  vertical-align: 0;
}

.card {
  border: solid 1px #e7e7e7;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%) !important;
  border-radius: 30px !important;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
}

.surgeryTable th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
  font-size: 15px;
}

.surgeryTable td {
  display: table-cell;
  vertical-align: inherit;
  text-align: -internal-center;
  font-size: 15px;
}

.play {
  width: 30px;
  height: 30px;
  display: inline-block;
  content: url(/assets/img/play.svg);
}

.playing {
  width: 30px;
  height: 30px;
  display: inline-block;
  content: url(/assets/img/play-hover.svg);
}

.play:hover {
  content: url(/assets/img/play-hover.svg);
  background-color: #0066ff;
}

.surgeryTable tr:hover td {
  background-color: #0066ff;
  color: #fff;
}

.surgeryTable .selected td {
  background-color: #0066ff;
  color: #fff;
}

.dash-videos video {
  height: 142px !important;
  width: 255px !important;
  background: black !important;
  border-radius: 20px;
}

.menu-default.menu-button {
  content: url(/assets/img/hide2.svg);
}

.menu-default.sub-hidden.menu-button {
  content: url(/assets/img/hide.svg);
}

.menu-default.main-hidden.sub-hidden.menu-button {
  content: url(/assets/img/hide.svg);
}

.main-menu {
  width: 14.58vw;
}

.sub-menu {
  background-color: #172757 !important;
  width: 9.25vw;
  left: 250px !important;
}

.sub-menu li {
  background-color: #172757 !important;
  color: #dfe0e2 !important;
}

.sub-menu li a {
  color: #dfe0e2 !important;
  font-size: 16px !important;
}

.logo2 {
  width: 150px;
  height: 30.2px;
  margin: 0 auto;
  margin-top: 340px;
  background: url(/assets/img/logo2.svg);
}

.logout {
  width: 108px;
  height: 24px;
  margin-right: 1.041vw;
  float: right;
  font-family: "Noto Sans CJK KR";
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  color: #009cdf;
}

.logout img {
  padding-right: 20px;
}

.btn-outline-primary{
  color:#fff !important;
  background-color: #172757 !important;
}

.theme--dark.v-calendar-daily {
    background-color: #FFFFFF !important;
    border-left: 1px solid #9e9e9e !important;
    border-top: 1px solid #9e9e9e !important;
}

.theme--dark.v-calendar-daily .v-calendar-daily__intervals-body .v-calendar-daily__interval-text {
    color: #000000 !important;
}

.theme--dark.v-btn {
    color: #000 !important;
    font-weight: bold !important;
}

.theme--dark.v-calendar-daily .v-calendar-daily_head-day {
  border-right: 1px solid #9e9e9e !important;
  border-bottom: 1px solid #9e9e9e !important;
  color: #000 !important;
  font-weight: bold !important;
}

.btn.dropdown-toggle.btn-outline-secondary {
  border-radius: 30px !important;
  height: 30px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-left: 20px !important;
  margin-top: 0px !important;
  left: 0;
  top: 0;
}

.search {
  margin-top: 10px !important;
}

.search input {
  height: 30px;
  margin-left: 50px;
  border-radius: 30px;
  width: 200px;
}

.search-icon {
   padding-top: 10px;
}

.cal-btn{
  display: flex;
  margin: 0 auto;
  width: 260px;
  justify-content: space-between;
}

.v-calendar-daily_head-weekday {
  color: black !important;
}

.theme--dark.v-btn.v-btn--has-bg {
    background-color: #f0f0f0 !important;
}

.btn.ma-2.reserve.btn-outline-primary{
  width: 80px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid 1px #0c0;
  background-color: #fff !important;
}

.fn-12-b {
  font-family: 'Noto Sans CJK KR';
  font-size: 12px;
  font-weight: 700;
}

.fc-cc {
  color: #00CC00;
}

.fn-12-b.fc-cc img {
  padding-right: 10px;
  vertical-align: -1px;
}

#surgeriesDropdown {
  bottom: 15px;
  right: 45px;
}

.btn-primary {
  background-color: #fff;
  border-color: #b0b0b0;
  color: #fff;
}

.btn.ma-2.day.btn-primary {
  color: white;
  background-color: #172757;
}

.btn.ma-2.week.btn-primary {
  color: white;
  background-color: #172757;
}

.btn.ma-2.month.btn-primary {
  color: white;
  background-color: #172757;
}

.btn.ma-2.day.btn-outline-primary {
  color: initial !important;
  background-color: #fff !important;
  border-color: #b0b0b0;
  font-weight: unset;
}

.btn.ma-2.week.btn-outline-primary {
  color: initial !important;
  background-color: #fff !important;
  border-color: #b0b0b0;
  font-weight: unset;
}

.btn.ma-2.month.btn-outline-primary {
  color: initial !important;
  background-color: #fff !important;
  border-color: #b0b0b0;
  font-weight: unset;
}

.theme--dark.v-calendar-weekly .v-calendar-weekly__day.v-outside {
  background-color: #e8e8e8 !important;
}

.theme--dark.v-calendar-weekly .v-calendar-weekly__head-weekday.v-past {
  color: black;
  background-color: white;
}

.theme--dark.v-calendar-weekly .v-calendar-weekly__head-weekday {
  border-right: 1px solid #9e9e9e;
  color: black;
  background-color: white;
}

.theme--dark.v-calendar-weekly .v-calendar-weekly__head-weekday.v-outside {
  background-color: white;
  color: black;
}

.theme--dark.v-calendar-weekly.v-calendar-weekly__head-weekday.v-outside {
  background-color: #fff !important;
}

.v-calendar-weekly__day.v-past {
  border-right: 1px solid #9e9e9e;
  color: black;
  background-color: white;
}

.v-calendar-weekly__day.v-past.v-outside {
  border-right: 1px solid #9e9e9e;
  color: black;
  background-color: white;
}

.v-calendar-weekly__day.v-future.v-outside {
  border-right: 1px solid #9e9e9e;
  color: black;
  background-color: white;
}

.cal-date fr-16-b fc-fff{
  border-left-width: 1px;
  padding-left: 20px;
  margin-bottom: 0px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 16px;
}

.cal-date{
  width: 150px !important;
  height: 30px;
  padding: 6px 18px 5px;
  border-radius: 50px;
  background-color: #172757;
}

.cal-date:hover{
  background-color: #091437;
  cursor: pointer;
}

.fr-16-b {
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 700;
}

.fc-fff {
  color: #ffffff;
}

.fn-12-r{font-family: 'Noto Sans CJK KR'; font-size: 12px; font-weight: 400;}
.fn-12-b{font-family: 'Noto Sans CJK KR'; font-size: 12px; font-weight: 400;}

.cal-tab{
  display: inline-block;
  margin-top: 7px;
}

.cal-tab ul{
  display: flex;
  width: 240px;
  height: 30px;
  margin-left:30px;
  border-radius: 10px;
  border: solid 1px #e7e7e7;
  list-style:none;
}

.cal-tab ul li{
  cursor: pointer;
  width: 80px;
  height: 30px;
  padding: 5px 0 0 29px;
  border-right: solid 1px #e7e7e7;
  font-weight: bold;
}
.cal-tab ul li:last-child{
  border: 0;
}

.cal-tab ul .active{
  background-color: #172757;
  color: #fff;
  border-radius: 10px;
}

.btn.ma-2.reserve.btn-outline-primary {
  margin-right: 0px;
}

.dropdown.b-dropdown.btn-group {
  margin-top: 5px;
  width: 70px !important;
}

.v-calendar-weekly__head-weekday{
  font-size: 18px !important;
  padding-top: 8px !important;
}

.v-calendar-weekly__head-weekday.v-past {
  background-color: white !important;
  color: black !important;
}

.v-calendar-weekly__head-weekday.v-past.v-outside {
  background-color: white !important;
  color: #212121 !important;
}

.v-calendar-weekly__head-weekday.v-present {
  background-color: white !important;
  color: black !important;
  border-left: 1px solid #9e9e9e;
}

.v-calendar-weekly__head-weekday.v-future {
  background-color: white !important;
  color: black !important;
  border-left: 1px solid #9e9e9e;
}

.v-calendar-weekly__head {
  height: 40px;
  border-bottom: 1px solid #9e9e9e;
}

.v-calendar-weekly__day.v-present {
  background-color: white;
  box-shadow: inset 0 2px 10px #888 !important;
}

.btn.btn-secondary {
  color:white;
}

.btn.btn-danger {
  color:white;
}

.bv-no-focus-ring.col-form-label.pt-0 {
  font-weight: bold;
}

.modal-header {
  margin-top: 10px;
  padding-bottom: 0px !important;
  padding-top: 20px !important;
}

.modal-right .modal-header {
  height: 50px;
}

.modal-body {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.modal-dialog .modal-content {
  border-radius: 30px 30px 30px 30px;
  // padding-left: 20px !important;
  // padding-right: 20px !important;
  // padding-top: 20px !important;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
}

.v-calendar-weekly__day.v-future {
  background-color: #fff;
}

.v-calendar-weekly__day {
  box-shadow: inset 1px 1px #9e9e9e !important;
}

#surgeriesDropdown__BV_toggle_ {
  height: 30px !important;
}

#ddown1__BV_toggle_ {
  height: 30px !important;
}

.v-card__text {
  background-color: white !important;
}

.router-link-exact-active.active span {
  font-weight: bold !important;
  font-size: 18px;
}

.disable-text-selection {
  border: solid 1px #e7e7e7;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%);
}

.disable-text-selection h3 {
  margin-top: 15px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 20px !important;
}

.vdp-datepicker.surgery-date-picker .input-group input.form-control {
  border-radius: 10px;
}

.item-6-1-2 nav{
  display: inline-flex;
  height: 33px;
  margin: 0 30px;
  border-radius: 10px;
  border: solid 1px #e7e7e7;
}

.item-6-1-2 nav a{
  width: 80px;
  height: 30px;
  padding: 5px 0 0 27px;
  border-right: solid 1px #e7e7e7;
  font-size: 13px;
  text-align: inherit;
}

.item-6-1-2 nav a:focus{
  height: 29px;
  font-weight: 700;
  background-color: #172757;
  color: #fff;
  font-weight: 700;
}

.item-6-1-2 nav a:first-child:focus{
  border-radius: 10px 0 0 10px;
}

.item-6-1-2 nav a:last-child:focus{
  border-radius: 0 10px 10px 0;
}

.item-6-1-2 nav a:last-child{
  border: 0;
}

div.custom-control.custom-control-inline.custom-radio label {
  font-size: 16px;
  padding-top: 1.7px;
  margin-right: 10px;
}

.vuetable.ui.blue.selectable.celled.stackable.attached.table input[type="checkbox"]{
  display: none;
}

.vuetable.ui.blue.selectable.celled.stackable.attached.table input[type="checkbox"]{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(/assets/img/check-off.svg) no-repeat;
  cursor: pointer;
}

.vuetable.ui.blue.selectable.celled.stackable.attached.table input[type="checkbox"]:checked{
  background: url(/assets/img/check-on.svg) no-repeat;
}

.vuetable.ui.blue.selectable.celled.stackable.attached.table tr th{
  font-size: 18px;
}

.vuetable-slot.list-item-heading p{
  font-size: 15px;
}

.request:hover{
  cursor: pointer;
}

.request-denined:hover{
  cursor: not-allowed;
}

h5#__BVID__1299___BV_modal_title_.modal-title{
  padding-bottom: 10px;
}

.modal .modal-header{
  border-bottom: none !important;
}

.modal .modal-footer{
  border-top: none !important;
}

.modal-dialog.modal-lg .modal-content .modal-footer {
  padding-right: 310px;
}

.modal-dialog.modal-lg .modal-content .custom-modal-footer {
  padding-right: 350px !important;
}

.modal-dialog.modal-lg .modal-content .modal-body .bv-no-focus-ring.col-form-label.pt-0 {
  font-size: 15px !important;
}

.modal-dialog.modal-lg .modal-content .modal-body textarea{
  height: 8em !important;
}

.data:hover{
  cursor: pointer;
}

.data-denined:hover{
  cursor: not-allowed;
}

// .modal-dialog.modal-lg div.modal-content{
//   width: 1000px;
//   height: 800px;
// }

// .modal-content .modal-body .table.b-table tbody{
//   box-shadow: 0 0 0 1px #7e7e7e;
//   border-radius: 10px;
// }

.modal.fade.show .modal-dialog.modal-lg .modal-content .modal-body .table.b-table tr th {
  font-size: 16px;
}

.modal.fade.show .modal-dialog.modal-lg .modal-content .modal-body .table.b-table tr td {
  font-size: 13px;
}

.modal-data-table_custom {
  width: 35vw;
  height: 100px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%);
  border: solid 1px #e7e7e7;
  background-color: #fff;
  margin-bottom: 30px;
}

.modal-data-table_custom .table.b-table {
  margin-bottom: 0px;
}

// border: 1px solid black;
.shaka-video-container #video.shaka-video {
  width: 100%;
  height: 100%;
  border-radius: 20px !important;
}

.shaka-video-container .shaka-controls-container .shaka-scrim-container {
  border-radius: 20px;
}

.modal-content .modal-body .move-video-buttons.mt-5 {
  margin-top: 0px !important;
}

.modal-data-table-page-camera-num{
  width: 17.29vw;
  height: 1.458vw;
  margin: 43px 329px;
  display: flex;
}

.modal-data-table-page-camera-num a{
  margin-right: 10px;
}

.page-btn2{
  width: 28px;
  height: 28px;
  line-height: 28px;
  padding-left: 9px;
  border-radius: 100px;
  background-color: #fff;
}

.page-btn2:hover{
  background-color: #172757;
  color: #fff;
  font-weight: 700;
}

.page-btn2:focus-within{
  background-color: #172757;
  color: #fff;
  font-weight: 700;
}

.fr-15-r{font-family: 'roboto'; font-size: 17px; font-weight: 400;}

.custom-div-history{
  padding: 30px 30px 0 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%);
  border: solid 1px #e7e7e7;
}

.custom-div-history .row .col.col-12 span h1{
  font-weight: bold;
  font-size: 25px;
}

.container-fluid .custom-div-history .card.mb-4 .card-body{
  padding-top: 14px;
}

.container-fluid .custom-div-history .card-body .vuetable.ui.blue.selectable.celled.stackable.attached.table .vuetable-body tr td{
  font-size: 17px;
}

.custom-todo-div {
  width: 100%;
  padding: 30px 30px 0 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%);
  border: solid 1px #e7e7e7;
}

.custom-todo-div div span h1{
  font-weight: bold;
  font-size: 25px;
}

.card .card-body .vuetable.ui.blue.selectable.celled.stackable.attached.table tbody.vuetable-body {
  text-align: center;
}

.card .card-body .vuetable.ui.blue.selectable.celled.stackable.attached.table thead tr th {
  text-align: center;
}

.custom-todo-div .card-body table.table.b-table {
  text-align: center;
}

.custom-todo-div .card-body table.table.b-table tbody {
  font-size: 16px;
}

.custom-todo-modal-body-table{
  text-align: center;
  color: white;
  padding-top: 0px !important;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%);
  border: solid 1px #e7e7e7;
  margin-top: 20px;
}

.modal.fade.show .modal-dialog.modal-lg .modal-content .modal-footer button {
  font-weight: bold;
}

.custom-browsePermit-div{
  width: 100%;
  padding: 30px 30px 0 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%);
  border: solid 1px #e7e7e7;
}

.custom-browsePermit-div div.row div span h1{
  font-weight: bold;
  font-size: 25px;
}

.custom-browsePermit-div-modal-body fieldset.form-group legend.bv-no-focus-ring.col-form-label.pt-0 {
  font-size: 16px !important;
}

.custom-browsePermit-div-modal-body fieldset.form-group textarea.form-control {
  border-radius: 10px;
}

.custom-browsePermit-div-modal-body #vs1__combobox{
  border-radius: 10px !important;
}

.custom-browsePermit-div-modal-body .bv-no-focus-ring.col-form-label.pt-0{
  padding-top: 30px !important;
}

.custom-div-takeout{
  width: 100%;
  padding: 30px 30px 0 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%);
  border: solid 1px #e7e7e7;
}

.custom-div-takeout div.row div span h1{
  font-weight: bold;
  font-size: 25px;
}

.custom-div-takeoutpermit-modal fieldset textarea{
  border-radius: 10px;
}

.custom-div-takeoutpermit-modal #vs4__combobox{
  border-radius: 10px !important;
}

.custom-div-setting{
  width: 100%;
  padding: 30px 30px 20px 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%);
  border: solid 1px #e7e7e7;
}

.custom-div-setting div.row div span h1{
  font-weight: bold;
  font-size: 25px;
}

.custom-div-setting .card-body .custom-control.custom-switch label {
  font-size: 15px;
}

.custom-div-setting .card-body fieldset legend.bv-no-focus-ring.col-form-label.pt-0{
  font-size: 15px;
}

.custom-div-setting .card-body button{
  font-weight: bold;
}

.custom-div-device{
  width: 100%;
  padding: 30px 30px 0 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%);
  border: solid 1px #e7e7e7;
}

.custom-div-device div.row div span h1{
  font-weight: bold;
  font-size: 25px;
}

.custom-div-device .setting-table-header{
  width: 71.35vw;
  height: 30px;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  justify-content: flex-end;
  padding-right: 90px;
}

.custom-div-device .add-btn{
  width: 4.166vw;
  height: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid 1px #0c0;
  white-space: nowrap;
}

.custom-div-device .add-btn:hover{
  background-color: #EFFFEF;
}

.custom-div-device .add-btn img{
  padding-right: 10px;
  vertical-align: -1px;
}

.custom-div-device .edit-btn{
  width: 80px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid 1px #172757;
  margin-left: 10px;
}

.custom-div-device .edit-btn img, .delete-btn img{
  padding-right: 10px;
  vertical-align: -1px;
}

.custom-div-device .edit-btn:hover{
  background-color: #E8EEFF;
}

.custom-div-device .delete-btn{
  width: 80px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid 1px #f80d38;
  margin-left: 10px;
  margin-right: 30px;
}

.custom-div-device .delete-btn:hover{
  background-color: #FFF3F6;
}

.custom-div-device .edit-btn img, .delete-btn img{
  padding-right: 10px;
  vertical-align: -1px;
}

.fn-12-r{font-size: 12px; font-weight: 400;}
.fn-12-b{font-size: 12px; font-weight: 700;}
.fc-cc{color: #00CC00;}
.fc-17{color: #172757;}
.fc-f8{color: #f80d38;}
.fc-5a{color: #5A5A5A;} .fc-33{color: #333333;}

.custom-div-device .browsers{
  width: 5vw;
  height: 30px;
  padding: 5px 11px 6px 10px;
  border-radius: 10px;
  border: solid 1px #e7e7e7;
}

.custom-div-device #surgeriesDropdown{
  bottom: 4px;
  margin-left: 20px;
  padding-top: 1px;
}

.custom-div-device .card.mb-4 .card-body table thead tr th div{
  font-size: 17px;
}

.custom-div-device .card.mb-4 .card-body table thead tr th{
  text-align: center;
}

.custom-div-device .card.mb-4 .card-body table tbody tr{
  font-size: 15px;
}

.custom-div-device .card.mb-4 .card-body table tbody{
  text-align: center;
}

.custom-div-device table thead{
  border-bottom: 1px solid #e7e7e7;
}

.custom-div-device-modal{
  margin-top: 30px;
}

.custom-div-device-modal div.form-group label.d-block{
  font-weight: bold;
  font-size: 15px;
  color: #5A5A5A;
}

.custom-div-surgery-manage{
  width: 100%;
  padding: 30px 30px 0 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%);
  border: solid 1px #e7e7e7;
}

.custom-div-surgery-manage .setting-table-header{
  width: 71.35vw;
  height: 30px;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  justify-content: flex-end;
  padding-right: 90px;
}

.custom-div-surgery-manage div.row div span h1{
  font-weight: bold;
  font-size: 25px;
}

.custom-div-surgery-manage .add-btn{
  width: 4.166vw;
  height: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid 1px #0c0;
  white-space: nowrap;
}

.custom-div-surgery-manage .add-btn:hover{
  background-color: #EFFFEF;
}

.custom-div-surgery-manage .add-btn img{
  padding-right: 10px;
  vertical-align: -1px;
}

.custom-div-surgery-manage .edit-btn{
  width: 80px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid 1px #172757;
  margin-left: 10px;
}

.custom-div-surgery-manage .edit-btn img, .delete-btn img{
  padding-right: 10px;
  vertical-align: -1px;
}

.custom-div-surgery-manage .edit-btn:hover{
  background-color: #E8EEFF;
}

.custom-div-surgery-manage .delete-btn{
  width: 80px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid 1px #f80d38;
  margin-left: 10px;
  margin-right: 30px;
}

.custom-div-surgery-manage .delete-btn:hover{
  background-color: #FFF3F6;
}

.custom-div-surgery-manage .edit-btn img, .delete-btn img{
  padding-right: 10px;
  vertical-align: -1px;
}

.custom-div-surgery-manage .card.mb-4 .card-body table thead tr th div{
  font-size: 17px;
}

.custom-div-surgery-manage .card.mb-4 .card-body table thead tr th{
  text-align: center;
}

.custom-div-surgery-manage .card.mb-4 .card-body table tbody tr{
  font-size: 15px;
}

.custom-div-surgery-manage .card.mb-4 .card-body table tbody{
  text-align: center;
}

.custom-div-surgery-manage table thead{
  border-bottom: 1px solid #e7e7e7;
}

.custom-div-surgery-manager-modal{
  margin-top: 30px;
}

.custom-div-surgery-manager-modal div.form-group label.d-block{
  font-weight: bold;
  font-size: 15px;
  color: #5A5A5A;
}

.custom-div-doctor{
  width: 100%;
  padding: 30px 30px 0 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 rgb(223 224 226 / 38%);
  border: solid 1px #e7e7e7;
}

.custom-div-doctor div.row div span h1{
  font-weight: bold;
  font-size: 25px;
}

.custom-div-doctor .add-btn{
  width: 4.166vw;
  height: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid 1px #0c0;
  white-space: nowrap;
}

.custom-div-doctor .add-btn:hover{
  background-color: #EFFFEF;
}

.custom-div-doctor .add-btn img{
  padding-right: 10px;
  vertical-align: -1px;
}

.custom-div-doctor .edit-btn{
  width: 80px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid 1px #172757;
  margin-left: 10px;
}

.custom-div-doctor .edit-btn img, .delete-btn img{
  padding-right: 10px;
  vertical-align: -1px;
}

.custom-div-doctor .edit-btn:hover{
  background-color: #E8EEFF;
}

.custom-div-doctor .delete-btn{
  width: 80px;
  height: 30px;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid 1px #f80d38;
  margin-left: 10px;
  margin-right: 10px;
}

.custom-div-doctor .delete-btn:hover{
  background-color: #FFF3F6;
}

.custom-div-doctor .edit-btn img, .delete-btn img{
  padding-right: 10px;
  vertical-align: -1px;
}

.custom-div-doctor .card.mb-4 .card-body table thead tr th div{
  font-size: 17px;
}

.custom-div-doctor .card.mb-4 .card-body table thead tr th{
  text-align: center;
}

.custom-div-doctor .card.mb-4 .card-body table tbody tr{
  font-size: 15px;
}

.custom-div-doctor .card.mb-4 .card-body table tbody{
  text-align: center;
}

.custom-div-doctor table thead{
  border-bottom: 1px solid #e7e7e7;
}

.custom-div-doctor .setting-table-header{
  width: 71.35vw;
  height: 30px;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  justify-content: flex-end;
  padding-right: 18px;
  margin-bottom: 10px;
}

.custom-div-doctor-modal{
  margin-top: 30px;
}

.custom-div-doctor-modal div.form-group label.d-block{
  font-weight: bold;
  font-size: 15px;
  color: #5A5A5A;
}

input[type="checkbox"]:checked {
  background: #32e723;
  border: none;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #999;
  appearance: none;
  cursor: pointer;
  transition: background 0.2s;
}


.vselect1 .vs__search::placeholder,
.vselect1 .vs__dropdown-toggle,
.vselect1 .vs__dropdown-menu {
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}

.v-select .vs__open-indicator{
  border-color: black !important;
  border-width: 2px 2px 0 0 !important;
  height: 8px !important;
  width: 8px !important;
  border-style: solid;
  content: "";
  display: inline-block;
  vertical-align: text-top;
  -webkit-transform: rotate(133deg);
  transform: rotate(133deg);
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

#app-container .container-fluid .card-body .card .card-body p {
  font-weight: bold;
}
